@charset "UTF-8";
/* CSS Document */


.if {
	background-color:#000000;
	width: 800px;
	height: 514px;
	padding-top:30px;
}

	



.if img { 
  width: 400px;
  height:514px;
  float:left;
	
}
.if p {
	color:#FFFFFF;
	
	padding-top:200px;
	
} 

h1 {
	color:red;
}
h2 {
	color:#A3A3A3;
	margin-left:200px;
}
.bottom img {
	width:200px;
	height:auto;
	float:right;
	
}

.bottom p{
	width:400px;
	
}